params {
  fastaSubsetSize = 2000
  blastProgram = "blastp"
  queryFastaFile = "$baseDir/data/pcynB/AnnotatedProteins.fsa"
  targetFastaFile = "$baseDir/data/pdb.fsa"
  preConfiguredDatabase = false
  targetDatabaseIndex = "$launchDir/data/newdb.dmnd"
  outputFile = "blastSimilarity.out"
  outputDir = "$launchDir/output"
}

process {
    maxForks = 10

    withName: diamondSimilarity {
        ext.args = "--evalue 0.00001 --masking seg --max-target-seqs 20 --sensitive --comp-based-stats 0 -f 6"
    }

}

includeConfig "$baseDir/conf/docker.config"
